html{
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

h2{
  margin: 10px;
  padding-bottom: 10px;
}
h4{
  margin: 10px;
}
h3{
  margin-bottom: 0;
}


#header{
  width: 100%;
  position: fixed;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  margin-top: -8px;
  margin-left: -8px;
  z-index: 10;
}

#logo{
  height: 50px;
  padding-left: 10px;
}

#hdr-links{
  display: inline-flex;
}

#hdr-links a {
  padding: 10px;
  color: seashell;
}
.spacer{
  height: 77px;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Mission{
  background-image: url("images/img-mission-background.jpg");
  background-size: cover;
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#Mission .text{
  background-color: black;
  width: inherit;
}

#Locations{
  background-image: url("images/img-locations-background.jpg");
  background-size: cover;
  width: 1200px;
  height: 500px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

#Locations .headline{
  padding-top: 70px;
  padding-bottom: 15px;
}

#Locations .description{
  line-height: 250%;
}

#contact h5{
  margin-top: 0;
  line-height: 300%;
}

.location{
  opacity: 1;
  background-color: black;
  width: 300px;
  height: 275px;
}

.Tea{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tea-sorts{
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.last_row{
  width: 650px;
  display: flex;
  justify-content: space-between;
}

.loc_row{
  width: 980px;
  display: flex;
  justify-content: space-between;
}

.tea-sort{
  display: flex;
  flex-direction: column;
  width: 300px;
}

.tea-image{
  width: inherit;
  height: 200px;
  padding-bottom: 10px;
  padding-top: 20px;
}
